<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <appSettings>
    <add key="RDS_DB_NAME" value="DBAdmin"/>
    <add key="RDS_USERNAME" value="sa"/>
    <add key="RDS_PASSWORD" value="Password@3"/>
    <add key="RDS_HOSTNAME" value="localhost"/>
    <add key="RDS_PORT" value="1433"/>
    
  </appSettings>

</configuration>
